@page "/{GlobalId:int?}"
@using BlazorApp1.Services
@inject GlobalStateService GlobalState
@inject NavigationManager Navigation

<h1>Welcome</h1>
@if (GlobalState.GlobalId!=null)
{
    <p>ID: @GlobalState.GlobalId</p>
}

@code {
    [Parameter]
    public int? GlobalId { get; set; } = null;

    protected override void OnInitialized()
    {
        if (GlobalId.HasValue)
        {
            GlobalState.GlobalId = GlobalId.Value;
        }

    }

   
}
